<div>   
    <div class="col-md d-flex">
        <div class="px-2 pt-1" id="logo">
            <a href="/"><img class="bg-light border rounded img-fluid" src="images/app_logo.png" alt="" height="70"
                width="70"></a>
        <div class="col-8 d-flex justify-content-center text-light align-items-center"></div>
        <div class="col"></div>
    </div>
</div>