<!-- <% layout('layouts/boilerplate')%>
<div class="entry">
    <div class="col-md d-flex">
        <div class="px-2 pt-1 col" id="logo">
            <a href="/"><img class="bg-light border rounded img-fluid" src="images/app_logo.png" alt="" height="70"
                width="70"></a>
        <div class="col-8 d-flex justify-content-center text-light align-items-center"></div>
        <div class="col"></div>
    </div>

    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 col text-center">
                    <li class="nav-item col">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item col">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item col">
                        <a class="nav-link disabled" aria-disabled="true">Disabled</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <footer>
        <p class="">&copy;
            <script>document.write(new Date().getFullYear())</script> theParkingSpot. All rights reserved.
        </p>
    </footer>
</div> -->

<% layout('layouts/boilerplate')%>

    <div class="entry">
        <div class="col-md d-flex">
            <div class="px-2 pt-1 col" id="logo">
                <a href="/"><img class="bg-light border rounded img-fluid" src="images/app_logo.png" alt="" height="70"
                        width="70"></a>
            </div>
        </div>
        <div class="col text-center mt-5">
            <h1 class="text">State your entry point</h1>
            <form id="entryForm" action="/vehicle/type" method="POST">
                <ul class="pt-5 list-unstyled btn-entry" style="height: 50vh;">
                    <li class="my-3">
                        <button data-id="1" class="btn btn-outline-warning btn-lg col-6 border rounded-pill" type="button" data-bs-toggle="button" aria-pressed="false">
                            <span id="be-1"></span> Entry 1
                        </button>
                    </li>
                    <li class="my-3">
                        <button data-id="2" class="btn btn-outline-warning btn-lg col-6 border rounded-pill" type="button" data-bs-toggle="button" aria-pressed="false">
                                <span id="be-2"></span> Entry 2
                        </button>
                    </li>
                    <li class="my-3"><button data-id="3" class="btn btn-outline-warning btn-lg col-6 border rounded-pill" type="button"
                            data-bs-toggle="button" aria-pressed="false">
                                <span id="be-3"></span> Entry 3
                        </button>
                    </li>
                </ul>

                <input type="hidden" name="entry">
                <button id="btn-entry-submit" type="submit" class="btn btn-outline-warning d-none">button</button>
            </form>
        </div>
        <footer>
            <p class="">&copy;
                <script>document.write(new Date().getFullYear())</script> theParkingSpot. All rights reserved.
            </p>
        </footer>
    </div>

    <script>
        $(function () {
            var btnEntry = $('.btn-entry button');
            btnEntry.on('click', function () {
                var id = $(this).attr('data-id');

                btnEntry.removeClass('active shadow text-light').attr('aria-pressed', 'false');
                $('span').html('');
                $(this).addClass('active shadow text-light').attr('aria-pressed', 'true');
                $('#be-' + id).html(spinner);

                $('input[name="entry"]').val(id);

                $('#btn-entry-submit').trigger('click');
            });
        })
    </script>