<% layout('layouts/boilerplate')%>

<div class="vehicle-type">
    <div>   
        <div class="col-md d-flex">
            <div class="px-2 pt-1" id="logo">
                <a href="/"><img class="bg-light border rounded img-fluid" src="images/app_logo.png" alt="" height="70"
                    width="70"></a>
            <div class="col-8 d-flex justify-content-center text-light align-items-center"></div>
            <div class="col"></div>
        </div>
    </div>

    <%- include('../layouts/navbar')%>

    <h2 class="text-center page-title">Select your Vehicle Type</h2>

    <div class="container d-flex mt-5">
        <div class="col d-flex justify-content-center">
            <div class="p-2 text-center">
                <div class="col p-2 border rounded border-3 border-dark mx-2">
                    <img src="images/vehicle-type/motorcycle.jpg" alt="" class="" height="200" width="195">
                </div>
                <div class="p-2 text-center">
                    <button class="btn btn-outline-success btn-sm col-12" data-bs-toggle="button" aria-pressed="false">Small</button>
                </div>
            </div>
            <div class="p-2 text-center">
                <div class="col p-2 border rounded border-3 border-dark mx-2">
                    <img src="images/vehicle-type/car.jpg" alt="" class="" height="200" width="195">
                </div>
                <div class="p-2 text-center">
                    <button class="btn btn-outline-success btn-sm col-12" data-bs-toggle="button" aria-pressed="false">Medium</button>
                </div>
            </div>
            <div class="p-2 text-center">
                <div class="col p-2 border rounded border-3 border-dark mx-2">
                    <img src="images/vehicle-type/bus.jpg" alt="" class="" height="200" width="195">
                </div>
                <div class="p-2 text-center">
                    <button class="btn btn-outline-success btn-sm col-12" data-bs-toggle="button" aria-pressed="false">Large</button>
                </div>
            </div>
        </div>
        <div class="col-4 px-5" style="margin-top: -10vh;">
            <div class="border shadow py-3 px-5">
                <div class="text-center">
                    <h5 style="color: #7c6c2c;">Vehicle Category</h5>
                </div>
                <div class="mt-4">
                    <ol class="px-0">
                        <div class="mt-3">
                            <b style="color: #947c2c;"><li>SMALL <i>(6,000 lbs to 10,000 lbs)</i></li></b>
                            <p class="mt-1" style="font-size: small; color: rgb(154, 154, 154);">
                                Vehicle with a weight from 6,000 to 10,000 pounds like motorcycle, tricycle, e-bike, Full Size Pickup, SUV, Minivan, Mini Bus and Utility Van.
                            </p>
                        </div>
                        <div class="mt-3">
                            <b style="color: #947c2c;"><li>MEDIUM <i>(10,000 lbs to 16,000 lbs)</i></li></b>
                            <p class="mt-1" style="font-size: small; color: rgb(154, 154, 154);">
                                Vehicle with a weight from 10,000 to 16,000 pounds like City Delivery, Mini Bus, Walk In and Conventional Van.
                            </p>
                        </div>
                        <div class="mt-3">
                            <b style="color: #947c2c;"><li>LARGE <i>(16,000 lbs to 33,000 lbs)</i></li></b>
                            <p class="mt-1" style="font-size: small; color: rgb(154, 154, 154);">
                                Vehicle with a weight from 16,000 to 33,000 pounds like Bucket, City Transit Bus, etc..
                            </p>
                        </div>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <%- include('../layouts/footer')%>
</div>

<script>
    $(function () {
        $('.type-nav span').addClass(' active border-bottom border-3 border-warning');
        $('.type-nav span').addClass('active');
    })
</script>
